.fontsa{
    color: rgb(133, 133, 133);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-left: -8%;
}
/* Add this CSS to your Recipe.css file or in your component's styles */

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
  
  .row {
    margin: 20px 0;
  }
  
  .alert {
    margin-bottom: 20px;
  }
  
  .msg {
    margin-bottom: 0;
  }
  
  .carousel-container {
    margin-bottom: 20px;
  }
  
  .fonts {
    text-align: center;
    margin-bottom: 20px;
  }
 
  /* .btnedit{
    background-color: rgb(0, 153, 255);
    width: 15%;
  } */
  .btnedit button{
    text-decoration:none;
    background-color: rgb(0, 153, 255);
    border: none;
    margin-left: 45%;
  
    height: 40px;
  }
.txt2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
  .new h2{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .dashboard-container {
    display: flex;
    justify-content: center;
  }
  
  .table-container {
    width: 50%;
    padding: 0 10px;
  }
  .box{
    border-radius: 5px 5px;
    background-color: rgb(245, 243, 141);
    font-family: 'Times New Roman', Times, serif;
  }
  .share{

width: 50%;
 }

.forming{
  margin-left:40%;
  margin-top: -65%;
  width: 50%;
}
.recpimage{
  width: 60%;

  gap:5px;
  object-fit: cover;
  border-radius: 15px;
  transition: all ease 0.3s 100%;
}
