nav{
    background: #001827;

    height: 60px;
height: 100px;}
.nav-link {
    color: aliceblue;

}
.navbar-toggler{
    color: aliceblue;
    background: rgb(254, 255, 255);

}
.navbar-collapse{
    background: #001827;

}
nav ul li a{
    color: aliceblue;

    
   
}
nav ul li{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3%;
    
   
}