/* .carousel-item img {
    height: 600px;
    opacity: 0.8;
  } 
  .carousel-caption button {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(88, 83, 73);
    margin: 10px;
    background-color: #EED971;
    border: wheat;
    width: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2% 2%;
  }
  .carousel-item button:hover{
    background-color: darkgoldenrod;
  }
.carousel-caption{
    opacity: 0.8;
    font-family:"Source Sans Pro";
    color:black;
    font-weight: 800;
    font-style: italic;
    font-family: Inter, Arial, Helvetica, sans-serif;
      background-color:  #FFA351;
      color: white;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 2px 2px 20px 23px #FFBE7B;
      font-size:1vw;} */


/* nav:hover .nav-item:hover{
    filter:blur(0px);
}
nav:hover .nav-item{
    filter:blur(5px);} */

#navbarNav{
    margin-left: 50%;


}
.logo{
    width: 100px;
    margin-left: 5%;
    height:  80px;
}

#heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


.card{
    background-color: #f4f6fa;
    box-shadow: 10px 2px 8px rgba(5, 5, 5, 0.12);
    border-radius: 14px;
    padding-bottom: 15px;
    border: none;
    margin: 5px;
width: 350px;
transition: transform 3s; /* Set the duration to 3 seconds */
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1%;
}
.boxes {
    padding: 50px 10px;

}
.card:hover {
    border-radius: 14px 14px 0 0;

}
.card:hover {
    transform: scale(1.05);
    transform-origin: center;
    transition: transform 3s; /* Set the duration to 3 seconds */
}.card:not(:hover) {
    transform: scale(1); /* This returns the card to its original size */
}

.card img {
    width: 100%;
    border-radius: 14px 14px 0 0;
    transition: 0.5s all ease-in-out;
}
.img {
    width: 100%;
    height: 270px;
    overflow: hidden;
}
.card-text{
    font-family: 'Times New Roman', Times, serif;
}
.list-unstyled li a{
    text-decoration: none;
    color: aliceblue;
}

.list-unstyled li a:hover{
    text-decoration: none;
    color: darkgoldenrod;
}
.col-md-4 h5{
    color:  darkgoldenrod;

}
.list-inline-item a{
    text-decoration: none;
    color: darkgoldenrod;

}
footer{
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: rgb(0, 19, 31);

}
  @media screen and (max-width: 600px) {
    .carousel-caption{  
        display: none;
    }}

    .alert-warning{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: linear-gradient( #553c9a 45%, #ee4b2b);

    }
    .imgslide{
        height: 400px;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 1%;
    }.inner {
        max-width: 1250px;
        margin: 0 auto;
        padding: 1%;
    }
    
    .wrapper {
        width: 100%;
        /* background-color: rgb(218, 232, 220); */
        height: 100vh;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .banner {
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }
    
    .banner .left {
        width: 43%;
    }
    
    .left img {
        width: 90%;
        border-radius: 10px;
    
    }
    .aboutstd{
    background: rgb(173, 220, 231);
    width: 70%;
    margin-left: 15%;
    border-radius: 14px;
    padding: 5px;
    
    }
    .aboutst{
        background: rgb(64, 183, 210);
     text-align: center;
     border-radius: 14px;
    
    }
    .banner .right {
        width: 53%;
        text-align: center;
    }
    
    .banner .right h1 {
        font-size: 4.5rem;
        color: rgb(2, 98, 142);
        font-style: italic;
    }
    
    .banner .right h2 {
        font-size: 5.5rem;
        color: rgb(67, 218, 78);
    
    }
    
    .right h3 {
        font-size: 2.5rem;
        color: rgb(2, 98, 142);
        margin: 20px 0;
    }
    
    .code {
        color: rgb(2, 98, 142);
    }
    
    .banner .right p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: #333;
        margin-top: 30px;
    }
    
    .btn1 {
        padding: 12px 30px;
        margin-top: 20px;
        border-radius: 4px;
        background-color: rgb(2, 98, 142);
        color: aliceblue;
        box-shadow: 0 6px 24px rgb(99, 71, 249/40%);
        border: none;
       
    }
    .txtd{
      color: #e4e4e4;
        text-decoration: none;
    }
    .txta{
      color: #e4e4e4;
          text-decoration: none;
      }
    .btn1 {
        padding: 12px 30px;
        margin-top: 20px;
        background-color: rgb(2, 98, 142);
        color: rgb(2, 98, 142);
        box-sizing: 0 6px 24px #e4e4e4;
        margin-left: 15px;
    }
    .btn1 :hover{
background-color:green;
padding: 12px 30px;
margin-top: 20px;
border-radius: 4px;
color: aliceblue;
box-shadow: 0 6px 24px rgb(99, 71, 249/40%);
border: none;
    }

    @media only screen and(max-width:600px) {
        .box {
            width: 90%;
            margin: 25px auto;
    
        }
    
        .banner .right h1 {
            font-size: 3.5rem;
        }
    
        .banner-code {
            font-size: 11rem;
        }
    
        .banner .btn {
            margin-left: 0;
        }}

        @media only screen and (max-width:1060px) {
            .wrapper {
                height: auto;
                padding-bottom: 10px;
        
            }
        
            .banner .left {
                width: 70%;
                margin: 0 auto;
            }
        
            .left img {
                width: 100%;
            }
        
            .banner .right {
                width: 100%;
                margin: 50px 10px;
            }
        
            .banner .right h1 {
                padding-top: 50px;
        
            }
        
            .box {
                width: 45%;
                margin: 20px 0px;
            }
        
            .boxes {
                padding: 25px;
            }
        }        

        /* AboutUs.css */

        @keyframes slideInLeft {
            0% {
              transform: translateX(-100%);
            }
            100% {
              transform: translateX(0);
            }
          }
          
          @keyframes slideInRight {
            0% {
              transform: translateX(100%);
            }
            100% {
              transform: translateX(0);
            }
          }
          
          .team-member {
            position: relative;
            overflow: hidden;
            border-radius: 15% ;
          }
          
          .team-member img {
            transition: transform 4s ease-in-out;
          }
          
          .team-member img:hover {
            animation: spin 12s linear infinite;
          }
  .banner .right h1 {
    animation: fadeInUp 1s ease-in-out;
  }
  
  .banner .right h2 {
    animation: fadeInUp 1.5s ease-in-out;
  }
  
  .banner .right h3 {
    animation: fadeInUp 2s ease-in-out;
  }
  
  .banner .right h4 {
    animation: fadeInUp 2.5s ease-in-out;
  }
  
  .banner .right p {
    animation: fadeInUp 3s ease-in-out;
  }
  
  .banner .right .btn1 {
    animation: fadeInUp 3.5s ease-in-out;
  }
  
  .banner .left img {
    animation: slideInLeft 2s ease-in-out;
  }
  
  .alert {
    animation: slideInRight 2s ease-in-out;
  }
  
  .text-center {
    animation: fadeInUp 3s ease-in-out;
  }